#Home{
  /*min-height: 750%;*/
  height: 100%;
  
}

#circle-play{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 0.4rem solid rgb(54, 51, 51);
  background: rgb(43,91,20);
  background: linear-gradient(90deg, rgba(43,91,20,1) 0%, rgba(198,101,50,1) 34%, rgba(198,101,50,1) 65%, rgba(48,117,15,1) 100%);

  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#text-play{
  width: 75%;
  height: 75%;
  background-color: black;
  border-radius: 50%;
  border: 0.4rem solid rgb(54, 51, 51);
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

#text-play p{
  color: white;
  font-size: 260%;
  font-weight: bold;
}

#Home a+p{
  color: white;
  font-size: 25px;
  font-weight: bold;
  
  text-align: center;
  margin-top: 125%;
}
